



.logo-1 {
  max-width: 200px;
}
@media (max-width: 767.98px) {
  .logo-1 {
    max-width: 150px;
  }
}

.logo-2 {
  max-width: 150px;
}
@media (max-width: 767.98px) {
  .logo-2 {
    max-width: 100px;
  }
}

.logo-3 {
  max-width: 120px;
}
@media (max-width: 767.98px) {
  .logo-3 {
    max-width: 75px;
  }
}

.logo-4 {
  max-width: 100px;
}
@media (max-width: 767.98px) {
  .logo-4 {
    max-width: 75px;
  }
}

.logo-5 {
  max-width: 50px;
}
@media (max-width: 767.98px) {
  .logo-5 {
    max-width: 50px;
  }
}

.logo-6 {
  max-width: 150px;
}
@media (max-width: 767.98px) {
  .logo-6 {
    max-width: 150px;
  }
}

.logo-7 {
  max-width: 180px;
}
@media (max-width: 767.98px) {
  .logo-7 {
    max-width: 150px;
  }
}

.logo-8 {
  max-width: 90px;
}
@media (max-width: 767.98px) {
  .logo-8 {
    max-width: 90px;
  }
}
