.contactImg{
    position: relative;
    height:50vh;
    background-image: url('../../assets/hero_1.jpg');
    background-position: center center;
    background-size: cover;
}
.layer{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.contactTitle{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -250%);
    color: white;
    
}
.contactTitle>h1{
    font-size: 3rem;
}




.jobHeader {
  align-items: center;
}

.jobLogo {
  width: 120px;
  height: auto;
}

.jobInfo {
  flex: 1;
}

.leftCol {
  width: 65%;
}

.rightCol {
  width: 33%;
}

/* --- الميديا كويريز --- */
@media (max-width: 992px) {
  .leftCol,
  .rightCol {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .jobContent {
    flex-direction: column !important;
  }

  .jobLogo {
    width: 80px !important;
  }

  button {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
}

@media (max-width: 768px) {
  .jobInfo h3 {
    font-size: 1.4rem !important;
  }

  .jobLogo {
    width: 60px !important;
  }
}
